@tailwind base;
@tailwind components;
@tailwind utilities;


/**********sujit**************/
.timeline ul li 
{
    margin-left: 30px;
    position: relative;
    /* margin-top: 30px;
    margin-bottom: 30px; */

}
.timeline__event:nth-child(1):before
{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background: #4BA5B7;
    border-radius: 100%;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
 
}
.timeline__event:nth-child(6):before
{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background: #333;
    border-radius: 100%;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
 
}
.timeline__event:before
{
    font-family: 'albatha' !important;
    content: "\e902";
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 100%;
    left: -23px;
    top: 4%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 17px;
    color: #A9B9D0;
    background-color: #f6f7f9;
    font-size: 15px;
}
.timeline__event:after {
    content: "";
    height: 100%;
    border-right: 1.5px dashed #A9B9D0;
    position: absolute;
   left: -16px;
    top: 43%;
    z-index: 0;
}
.timeline__event:nth-child(4):after
{
    content: "";
    height: 40%;
    border-right: 1.5px dashed #A9B9D0;
    position: absolute;
   left: -16px;
    top: 43%;
    z-index: 0;
}
.custom-dropdown .p-dropdown
{
    background: #F5F6F7;
    border: 1px solid #BECDE3;
    font-weight: 400;
    border-radius: 8px;
}
.custom-dropdown .p-dropdown .p-dropdown-label.p-placeholder {
    color: #9CA1AB;
    font-weight: 400;
    font-size: 13px;
}
.custom-dropdown .p-inputtext 
{
    padding: 10px 12px;
    font-size: 13px;
    color: #374151;
    background-color: #FFF;
    border-color: #4BA5B7;
}
.custom-dropdown .pi-chevron-down:before 
{
    color: #9CA1AB;
    font-size: 12px;
}
.login-wrap-bg {
    background-image: url(/assets/images/login-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  /* .landingbg {
    background: #0C1116 url(/assets/images/leading-symbol.png) no-repeat;
    background-size: cover;
    height: 100vh;
} */
.landingBanner1 {
    background: #0C1116 url(/assets/images/leading.png) no-repeat;
    background-size: 100% 100%;
    height: 120vh;
    width: 100%;
}
.box {
   
    /* transition: transform 0.5s ease; Animation transition property */
    height: 100px;
   
  }
  
  .visible {
    transform: translateY(0); /* Move the box to its original position */
  }
  
  .ani {
    transform: translateY(-100%); /* Move the box upwards by its height (100%) */
  }
  .right-side .active 
  {
    background-color: #4BA5B7;
  }
/**********sujit**************/